.divHeader{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
    padding: 0 4rem;
    .divHeader_Buttons {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 50rem;
        .divHeader_Button {
            background: linear-gradient(90deg, #58A8E2, #84CAF1);
            width: 15rem;
            height: 50px;
            border: none;
            border-radius: 20px;
            outline: none;
            cursor: pointer;
            &:hover {
                background-color: #58A8E2;
            }
            &:first-child{
                margin-right: 10px;
            }
        }
    }
}